<div class="container-fluid">
  <div class="row">
    <div class="col text-center">
      <div class="card card-image pt-5 pb-5" id="fondo">
        <h1 style="color: orangered">JORNADA DE AUDITORIA, CIBERSEGURIDAD Y PERITAJE INFORMATICO </h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <!-- Classic tabs -->
      <div class="classic-tabs">

        <!-- Nav tabs -->
        <ul class="nav nav-fill" style="background: midnightblue;" role="tablist">
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#panelSede" role="tab">Sede</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#panelOrganizadores" role="tab">Organizadores</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#panelExpositores" role="tab">Expositores</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#panelTematicas" role="tab">Tematicas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#panelEnvianos" role="tab">Envianos tu paper</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#panelContactos" role="tab">Contacto</a>
          </li>
        </ul>

        <div class="tab-content border-right border-bottom border-left rounded-bottom">
          <!--Panel 1-->
          <div class="tab-pane fade in show active" id="panelSede" role="tabpanel">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit magnam minima, soluta doloribus reiciendis
              molestiae placeat unde eos molestias. Quisquam aperiam, pariatur. Tempora, placeat ratione porro voluptate
              odit minima.</p>
          </div>
          <!--/.Panel 1-->
          <!--Panel 2-->
          <div class="tab-pane fade" id="panelOrganizadores" role="tabpanel">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit magnam minima, soluta doloribus reiciendis
              molestiae placeat unde eos molestias. Quisquam aperiam, pariatur. Tempora, placeat ratione porro voluptate
              odit minima.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit magnam minima, soluta doloribus reiciendis
              molestiae placeat unde eos molestias. Quisquam aperiam, pariatur. Tempora, placeat ratione porro voluptate
              odit minima.</p>
          </div>
          <!--/.Panel 2-->
          <!--Panel 3-->
          <div class="tab-pane fade" id="panelExpositores" role="tabpanel">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit magnam minima, soluta doloribus reiciendis
              molestiae placeat unde eos molestias. Quisquam aperiam, pariatur. Tempora, placeat ratione porro voluptate
              odit minima.</p>
          </div>
          <!--/.Panel 3-->
          <!--Panel 4-->
          <div class="tab-pane fade" id="panelTematicas" role="tabpanel">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit magnam minima, soluta doloribus reiciendis
              molestiae placeat unde eos molestias. Quisquam aperiam, pariatur. Tempora, placeat ratione porro voluptate
              odit minima.</p>
          </div>
          <!--/.Panel 4-->
          <!--Panel 5-->
          <div class="tab-pane fade" id="panelEnvianos" role="tabpanel">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit magnam minima, soluta doloribus reiciendis
              molestiae placeat unde eos molestias. Quisquam aperiam, pariatur. Tempora, placeat ratione porro voluptate
              odit minima.</p>
          </div>
          <!--/.Panel 5-->
          <!--Panel 6-->
          <div class="tab-pane fade" id="panelContactos" role="tabpanel">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit magnam minima, soluta doloribus reiciendis
              molestiae placeat unde eos molestias. Quisquam aperiam, pariatur. Tempora, placeat ratione porro voluptate
              odit minima.</p>
          </div>
          <!--/.Panel 6-->
        </div>

      </div>
    </div>
  </div>
</div>
