<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>

<div class="container">
  <div class="row">
    <div class="col-sm">
      1 de 3
    </div>
    <div class="col-sm">1 de 3</div>
    <div class="col-sm"> 1 de 3</div>
  </div>
</div> -->
<!-- <div class="jumbotron pl-0 pr-0" id="fondo-gradiente">
 -->  
  <!-- Comienzo del NavBar
  <nav class="navbar fixed-top navbar-expand-sm navbar-light">
    <a class="navbar-brand" [routerLink]="['inicio']" [routerLinkActive]="['active']">ASEP</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav mr-auto ml-auto text-center">
        <a class="nav-item nav-link active"> Que es ?</a>
        <a class="nav-item nav-link"  [routerLink]="['mision-vision']" [routerLinkActive]="['active']">Mision, Vision y Objetivos</a>
        <a class="nav-item nav-link" [routerLink]="['jasep']">JASEP-IT</a>
        <a class="nav-item nav-link" [routerLink]="['servicios']" [routerLinkActive]="['active']">Servicios</a>
      </div>
    </div>
  </nav>
   Fin del NavBar-->
  <!-- Inicio de Cuerpo
  <div class="jumbotron jumbotron-fluid">
    <div class="container-fluid text-center">
      <h1 class="display-2">ASEP</h1>
      <p class="lead"> Sigla que describe la relación entre las 3 disciplinas AUDITORIA DE SISTEMAS, SEGURIDAD DE LA INFORMACIÓN Y PERITAJE INFORMATICO. <br> Grupo que surge como una necesidad concreta de la sociedad y la región con respecto a estas tres disciplinas y de la inquietud de profesionales, impulsadas por la propuesta de las autoridades de la UTN - FRT de desarrollar actividades vinculadas con el cumplimiento de estándares de seguridad.</p>
    </div>
  </div>
  Fin de Cuerpo 
  <router-outlet></router-outlet>
  


  Comienzo del Footer
    <div class="container-fluid border-top" id="footer">
      <div class="row">
        <div class="col">
            <h1 class="display-4">Asep</h1>
            <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
        </div>
      </div>  
    </div>
   Fin del Footer

</div>-->
  <!--  Comienzo del NavBar -->
  <nav class="navbar fixed-top navbar-expand-sm navbar-light">
    <a class="navbar-brand" [routerLink]="['inicio']" [routerLinkActive]="['active']">LOGO ASEP</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav mr-auto ml-auto text-center">
        <a data-scroll href="#que-es" class="nav-item nav-link que-es"> Que es ?</a>
        <a data-scroll href="#mision-vision" class="nav-item nav-link">Mision, Vision y Objetivos</a>
        <a data-scroll href="#jasep" class="nav-item nav-link" >JASEP-IT</a>
        <a data-scroll href="#servicios" class="nav-item nav-link" >Servicios</a>
      </div>
    </div>
  </nav>
  <!-- Fin del NavBar -->

  <!-- MENÚ -->
<!--   <div class="container-fluid navbar-fixed-top">
      <div class="row flex-items-xs-between menu-1 flex-items-xs-middle">
        <div class="col-xs-2">
          <a data-scroll href="#sec-1" class="btn btn-danger" role="button" aria-pressed="true">Sección-1</a>
        </div>
        <div class="col-xs-2">
          <a data-scroll href="#sec-2" class="btn btn-danger" role="button" aria-pressed="true">Sección-2</a>
        </div>
        <div class="col-xs-2">
          <a data-scroll href="#sec-3" class="btn btn-danger" role="button" aria-pressed="true">Sección-3</a>
        </div>
        <div class="col-xs-2">
          <a data-scroll href="#sec-4" class="btn btn-danger" role="button" aria-pressed="true">Sección-4</a>
        </div>
      </div>
    </div> -->
    <!-- FIN MENU -->
    
      <router-outlet></router-outlet>
       <!-- Footer -->
       <footer class="page-footer font-small unique-color-dark" style="background: orangered">
    
        <div style="background-color: #001957;">
          <div class="container">
      
            <!-- Grid row-->
            <div class="row py-4 d-flex align-items-center">
      
              <!-- Grid column -->
              <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                <h6 class="mb-0 text-white">Siguenos en nuestras redes sociales!</h6>
              </div>
              <!-- Grid column -->
      
              <!-- Grid column -->
              <div class="col-md-6 col-lg-7 text-center text-md-right">
      
                <!-- Facebook -->
                <a class="fa-ic">
                  <fa name="fab fa-facebook text-white mr-4"></fa>          </a>
                <!-- Twitter -->
                <a class="tw-ic">
                  <fa name="fab fa-twitter text-white mr-4"> </fa>
                </a>
                <!-- Google +-->
                <a class="gplus-ic">
                  <fa name="fab fa-google-plus text-white mr-4"> </fa>
                </a>
                <!--Linkedin -->
                <a class="li-ic">
                  <fa name="fab fa-linkedin text-white mr-4"> </fa>
                </a>
                <!--Instagram-->
                <a class="ins-ic">
                  <fa name="fab fa-instagram text-white" > </fa>
                </a>
      
              </div>
              <!-- Grid column -->
      
            </div>
            <!-- Grid row-->
      
          </div>
        </div>
      
        <!-- Footer Links -->
        <div class="container text-center text-md-left mt-5" >
      
          <!-- Grid row -->
          <div class="row mt-3">
      
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
      
              <!-- Content -->
              <h6 class="text-uppercase font-weight-bold">Asep-IT</h6>
              <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
              <p></p>
      
            </div>
            <!-- Grid column -->
      
      
            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
      
              <!-- Links -->
              <h6 class="text-uppercase font-weight-bold">Contacto</h6>
              <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
              <p>
                <fa name="fab fa-home mr-3"></fa> San Miguel de Tucuman, 4000, Tucuman</p>
              <p>
                <fa name="fab fa-envelope mr-3"></fa> info@example.com</p>
              <p>
                <fa name="fab fa-phone mr-3"></fa> + 0381</p>
      
            </div>
            <!-- Grid column -->
      
          </div>
          <!-- Grid row -->
      
        </div>
        <!-- Footer Links -->
      
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">Copyright © 2018 ASEP. Todos los Derechos Reservados. ASEP
        </div>
        <!-- Copyright -->
      
      </footer>
      <!-- Footer -->