<div class="body">
  <nav class="navbar fixed-top navbar-expand-md navbar-light pb-0">
    <a class="navbar-brand" [routerLink]="['inicio']" [routerLinkActive]="['active']">
      <img class="img-fluid p-0 m-0" src="../../../assets/images/logoasep.png" style="width: 180px; height: 50px;">
      <img class="img-fluid pl-3 pb-1 m-0" src="../../../assets/images/utn.png" style="width: 80px; height: 60px;">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup" *ngIf="!identity">
      <div class="navbar-nav">
        <a class="nav-item nav-link" [routerLink]="['login']" [routerLinkActive]="['active']">Loguearse</a>
      </div>
    </div>
    <div class="collapse navbar-collapse " id="navbarNavAltMarkup" *ngIf="identity">
      <div class="navbar-nav mr-auto ml-auto text-center">
        <a class="nav-item nav-link" [routerLink]="['registrar-jornada']" [routerLinkActive]="['active']">Registrar Jornada</a>
        <a class="nav-item nav-link" [routerLink]="['listar-jornada']" [routerLinkActive]="['active']">Listar Jornada</a>
      </div>
      <div class="nav-item dropdown d-flex felx-row justify-content-center">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{identity.name +''+identity.surname}}</a>
        <div class="dropdown-menu text-center" aria-labelledby="navbarDropdownMenuLink">
          <a class="nav-item nav-link" style="cursor: pointer;" (click)="logOut()">Cerrar Sesion</a>
        </div>
      </div>
    </div>
  </nav>
  <main class="pt-5" [@fadeAnimation]="o.isActivated ? o.activatedRoute : ''">
    <router-outlet #o="outlet"></router-outlet>
  </main>
</div>