<div class="modal-dialog text-center mt-5 pt-5">
  <div class="col-sm-8 main-section">
    <div class="modal-content">
      <div class="col-12 user-img">
        <img src="../../../assets/images/KPMG.png" alt="">
      </div>
      <form action="" class="col-12">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Ingresa tu correo">
        </div>
        <div class="form-group">
          <input type="email" class="form-control" placeholder="Ingresa tu contrasena">
        </div>
        <button type="submit" class="btn">
          <fa name="fas fa-sign-language"></fa>Ingresar</button>
      </form>
      <div class="col-12 forgot  p-3">
        <a href="#">Te olvidaste la contrasena?</a>
      </div>
    </div>
  </div>
</div>
