<div class="container-fluid pt-5">
  <div class="jumbotron m-0 text-center border border-info rounded">
    <h1 class="display-5">Registrar Jornada</h1>
    <p class="lead">Por favor complete los campos para registrar una nueva jornada!</p>
  </div>
  <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
    <div class="container-fluid border border-primary rounded">
      <div class="row mt-5">
        <div class="col-md-4 col-sm-12 mt-4 mb-4">
          <label>Nombre de Jornada:</label>
          <input class="form-group" type="text" name="nombre" #nombre="ngModel" [(ngModel)]="jornada.nombre" required>
          <span *ngIf="!nombre.valid && nombre.touched">El nombre es obligatorio</span>
        </div>
        <div class="col-md-4 col-sm-12 mt-4 mb-4">
          <label>Año:</label>
          <input class="form-group" type="date" name="anio" #anio="ngModel" [(ngModel)]="jornada.anio" required>
          <span *ngIf="!anio.valid && anio.touched">El año es obligatorio</span>
        </div>
        <div class="col-md-4 col-sm-12 mt-4 mb-4">
          <label>Sede:</label>
          <input class="form-group" type="text" name="sede" #sede="ngModel" [(ngModel)]="jornada.sede" required>
          <span *ngIf="!sede.valid && sede.touched">La sede es obligatoria</span>
        </div>
        <div class="col-md-6 col-sm-12 mt-4 mb-4">
          <label>Organizadores:</label>
          <select class="form-group">
            <option *ngFor="let organizador of organizadors" [value]="organizador" (click)="onSelectOrganizador(organizador)">{{organizador.nombre}}</option>
          </select>
          <span *ngIf="organizadorSelected" class="btn btn-sm btn-primary" (click)="addToTableOrganizador(organizadorSelected)">Agregar Organizador</span>
        </div>

        <div class="col-md-6 col-sm-12 mt-4 mb-4">
          <div class="table-responsive">
            <table class="table table-sm table-hover">
              <thead class="thead-dark">
                <tr class="text-center">
                  <th scope="col">Nombre</th>
                  <th scope="col">Url</th>
                  <th scope="col">Accion</th>
                </tr>
              </thead>
              <tbody *ngFor="let organizador of organizadoresTable" (click)="onSelectTableOrganizador(organizador)">
                <tr class="text-center">
                  <td>{{organizador.nombre}}</td>
                  <td>{{organizador.url}}</td>
                  <td class="text-center">
                    <fa name="fas fa-ban" class="btn btn-sm btn-danger" (click)="removeOrganizadorOfTable(organizador)"></fa>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-md-6 col-sm-12 mt-4 mb-4">
          <label>Expositores:</label>
          <select class="form-group">
            <option *ngFor="let expositor of expositors" [value]="expositor" (click)="onSelectExpositor(expositor)">{{expositor.nombre}}</option>
          </select>
          <span *ngIf="expositorSelected" class="btn btn-sm btn-primary" (click)="addToTableExpositor(expositorSelected)"> Agregar Expositor</span>
        </div>
        <div class="col-md-6 col-sm-12 mt-4 mb-4">
          <div class="table-responsive">
            <table class="table table-sm table-hover">
              <thead class="thead-dark">
                <tr class="text-center">
                  <th scope="col">Nombre</th>
                  <th scope="col">Apellido</th>
                  <th scope="col">Procedencia</th>
                  <th scope="col">Accion</th>
                </tr>
              </thead>
              <tbody *ngFor="let expositor of expositoresTable" (click)="onSelectTableExpositor(expositor)">
                <tr class="text-center">
                  <td>{{expositor.nombre}}</td>
                  <td>{{expositor.apellido}}</td>
                  <td>{{expositor.procedencia}}</td>
                  <td class="text-center">
                    <fa name="fas fa-ban" class="btn btn-sm btn-danger" (click)="removeExpositorOfTable(expositor)"></fa>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-md-6 col-sm-12 mt-4 mb-4">
          <label>Tematicas:</label>
          <select class="form-group">
            <option *ngFor="let tematica of tematics" [value]="tematica" (click)="onSelectTematica(tematica)">{{tematica.titulo}}</option>
          </select>
          <span *ngIf="tematicaSelected" class="btn btn-sm btn-primary" (click)="addToTableTematica(tematicaSelected)">Agregar Tematica</span>
        </div>
        <div class="col-md-6 col-sm-12 mt-4 mb-4">
          <div class="table-responsive">
            <table class="table table-sm table-hover">
              <thead class="thead-dark">
                <tr class="text-center">
                  <th scope="col">Tematica</th>
                  <th scope="col">Titulo</th>
                  <th scope="col">Accion</th>
                </tr>
              </thead>
              <tbody *ngFor="let tematica of tematicasTable" (click)="onSelectTableTematica(tematica)">
                <tr class="text-center">
                  <td>{{tematica.tema}}</td>
                  <td>{{tematica.titulo}}</td>
                  <td class="text-center">
                    <fa name="fas fa-ban" class="btn btn-sm btn-danger" (click)="removeTematicaOfTable(tematica)"></fa>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-md-12 col-sm-12 mt-4 mb-4">
          <label>Contacto:</label>
          <input class="form-group" type="text" name="contacto" #contacto="ngModel" [(ngModel)]="jornada.contacto" required>
          <span *ngIf="!contacto.valid && contacto.touched">Los contactos son obligatorios</span>
        </div>
        <div class="col-md-12 col-sm-12 text-center">
          <input type="submit" value="Registrar" class="btn btn-primary m-5" [disabled]="!registerForm.form.valid" />
        </div>
        <div *ngIf="status == 'success'" class="alert alert-success">Se registro la jornada correctamente.</div>
        <div *ngIf="status == 'error'" class="alert alert-danger">Hubo un error al registrar la jornada.</div>
      </div>
    </div>
  </form>
</div>