<!--  Comienzo del NavBar -->
<nav class="navbar fixed-top navbar-expand-sm navbar-light">
  <a class="navbar-brand" [routerLink]="['inicio']" [routerLinkActive]="['active']"> <img class="img-fluid p-0 m-0" src="../../assets/images/logoasep.png" style="width: 180px; height: 50px;"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav mr-auto ml-auto text-center">
      <a class="nav-item nav-link que-es"  SimpleSmoothScroll [scrollTo]="'que-es'" [duration]="500"> Que es ?</a>
      <a class="nav-item nav-link" SimpleSmoothScroll [scrollTo]="'mision-vision'" [duration]="500">Mision, Vision y Objetivos</a>
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">JASEP-IT</a>
        <div class="dropdown-menu text-center" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" SimpleSmoothScroll [scrollTo]="'jasepit'" [duration]="500">Acerca de JASEP IT</a>
          <a class="dropdown-item" (click)="verMas()">JASEP IT 2018</a>
        </div>
      </div>
      <a class="nav-item nav-link" SimpleSmoothScroll [scrollTo]="'servicios'" [duration]="500">Servicios</a>
    </div>
  </div>
</nav>
<!-- Fin del NavBar -->

<!-- SECCIÓN 1 -->
<div class="container-fluid slider-1 pb-0" id="que-es">
  <div class="row">
    <div class="col-md-12">
      <div class="card card-image" id="imagen1">
        <div class="text-white text-center py-5 px-4 my-5">
          <div>
            <h1 class="card-title pt-3 mb-5 font-bold display-2">
              <strong>ASEP</strong>
            </h1>
            <p class="mx-5 mb-5" id="parrafo1">Sigla que describe la relación entre las 3 disciplinas AUDITORIA DE SISTEMAS, SEGURIDAD DE LA INFORMACIÓN Y PERITAJE
              INFORMATICO.
              <br> Grupo que surge como una necesidad concreta de la sociedad y la región con respecto a estas tres disciplinas
              y de la inquietud de profesionales, impulsadas por la propuesta de las autoridades de la UTN - FRT de desarrollar
              actividades vinculadas con el cumplimiento de estándares de seguridad.
              <br>ASEP está enmarcado en la Dirección de Proyectos Informáticos, dependiente de la Secretaría de Vinculación
              Tecnológica de la Universidad Tecnológica Nacional, Facultad Regional de Tucumán.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<!-- FIN SECCIÓN -->

<!-- SECCIÓN 2 -->
<div class="container-fluid slider-2 mt-0 pb-0" id="mision-vision">
  <div class="card-group">
    <div class="card">
      <img class="card-img-top" src="../assets/images/apple-book-computer-desk-hand-iphone-laptop-looking-189906.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">MISION</h5>
        <p class="card-text">Trabajar en favor de la prevención y el desarrollo integral de la Seguridad Cibernética, a través de programas y
          proyectos que permitan convertirnos en aliados con Organismos Públicos y Privados.</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../assets/images/depositphotos_106697094-stock-photo-workspace-desk-with-laptop-coffee.jpg"
        alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">VISION</h5>
        <p class="card-text">Ser reconocidos como un equipo de respuesta ante incidentes de seguridad cibernética (Computer Emergency Response
          Team).
        </p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../assets/images/depositphotos_62299551-stock-photo-female-hand-with-pen-notebook.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">VALORES</h5>
        <p class="card-text">Innovación permanente en procesos y servicios.
          <br> Trabajamos con Integridad y en equipo.
          <br> Flexibilización y Adaptación al cambio.
          <br> Cumplimos lo que prometemos.
          <br> Agregamos valor superando las expectativas.
        </p>
      </div>
    </div>
  </div>
</div>
<!-- FIN SECCIÓN -->

<!-- SECCIÓN 3 -->
<div class="container-fluid slider-3" id="jasepit">
  <div class="row">
    <div class="col-md-12">
      <div class="card card-image" id="imagen3">
        <div class="text-white text-center py-5 px-4 my-5">
          <div>
            <h1 class="card-title pt-3 mb-5 font-bold display-2">
              <strong>JASEPIT - Jornada de Auditoría, Seguridad y Peritaje Informático</strong>
            </h1>
            <p class="mx-5 mb-5" id="parrafo3">Jornada donde se invitan expertos locales, nacionales e internacionales en las temáticas mencionadas para que
              compartan sus experiencias con asistentes de las provincias del Norte Grande y de diferentes claustros (docente,
              no docente, estudiantes y graduados) así como también aquellos que provienen de empresas públicas, privadas
              y público en general.
            </p>
            <a class="btn btn-outline-white btn-rounded" (click)="verMas()">
              <i class="fa fa-clone left"></i> Ver Mas</a>
              <button class="btn" (click)="verMas()">Ver Jornada</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- FIN SECCIÓN -->

<!-- SECCIÓN 4 -->
<div class="container-fluid slider-4" id="servicios">
  <div class="row">
    <div class="col">
      <div class="card card-image" id="imagen4">
        <div class="text-white text-center py-5 px-4 my-5">
          <div>
            <h1 class="card-title pt-3 mb-5 font-bold display-2">
              <strong>Servicios</strong>
            </h1>
            <p class="mx-5 mb-5" id="parrafo4">Ofrecer servicios y actividades de extensión y concientización a organizaciones públicas y privadas, así como
              también propuestas académicas y de investigación en las ramas de Auditoría, Ciberseguridad y Peritaje Informático,
              y las complementarias Voto Electrónico y Gobernanza de Internet
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- FIN SECCIÓN -->
<!-- SECCIÓN 5 -->
<div class="container-fluid slider-5" id="estandares">
  <h1 class="card-title pt-3 mb-5 font-italic display-5">
    <strong>Estandares de Auditoria de Sistemas de Informacion</strong>
  </h1>
  <div class="d-flex justify-content-lg-center">
    <div class="p-1 ml-5 mb-5">
      <img src="../../assets/images/CISA Vertical.jpg" class="img-fluid img-estandares" alt="Responsive image">
    </div>
    <div class="p-1 ml-5 mb-5">
      <img src="../../assets/images/isaca.png" class="img-fluid img-estandares" alt="Responsive image">
    </div>
    <div class="p-1 ml-5 mb-5">
      <img src="../../assets/images/ISO_27001_Surus-Inversa.jpg" class="img-fluid img-estandares" alt="Responsive image">
    </div>
    <div class="p-1 ml-5 mb-5">
      <img src="../../assets/images/page_img21.jpg" class="img-fluid img-estandares" alt="Responsive image">
    </div>
    <div class="p-1 ml-5 mb-5">
      <img src="../../assets/images/sigen.jpg" class="img-fluid img-estandares" alt="Responsive image">
    </div>
  </div>
</div>
<!-- FIN SECCIÓN -->
<!-- SECCIÓN 6 -->
<div class="container-fluid slider-5" id="estandares">
  <h1 class="card-title pt-3 mb-5 font-italic display-5">
    <strong>Big Four en Auditoria de Sistemas de Informacion </strong>
  </h1>
  <div class="d-flex justify-content-lg-center">
    <div class="p-1 ml-5 mb-5">
      <a href="https://www2.deloitte.com/ar/es/services/audit.html?icid=top_audit">
        <img src="../../assets/images/deloitte-logo.jpg" class="img-fluid img-estandares" alt="Responsive image">
      </a>
    </div>
    <div class="p-1 ml-5 mb-5">
      <a href="https://www.pwc.com.ar/es/servicios/auditoria.html">
        <img src="../../assets/images/PricewaterhouseCoopers_Logo.svg.png" class="img-fluid img-estandares" alt="Responsive image">
      </a>
    </div>
    <div class="p-1 ml-5 mb-5">
      <a href="https://home.kpmg.com/ar/es/home/services/audit.html">
        <img src="../../assets/images/KPMG.png" class="img-fluid img-estandares" alt="Responsive image">
      </a>
    </div>
    <div class="p-1 ml-5 mb-5">
      <a href="https://www.ey.com/ar/es/services/assurance">
        <img src="../../assets/images/careers_EY.png" class="img-fluid img-estandares" alt="Responsive image">
      </a>
    </div>
  </div>
</div>
<!-- FIN SECCIÓN -->


<!-- <div> ANIMACION PIOLA
      <fa name="fas fa-camera-retro" animation="spin"></fa></div>
     -->
<!-- Footer -->
<footer class="page-footer font-small unique-color-dark" style="background: orangered">

  <div style="background-color: #001957;">
    <div class="container">

      <!-- Grid row-->
      <div class="row py-4 d-flex align-items-center">

        <!-- Grid column -->
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h6 class="mb-0 text-white">Siguenos en nuestras redes sociales!</h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-6 col-lg-7 text-center text-md-right">

          <!-- Facebook -->
          <a class="fa-ic">
            <fa name="fab fa-facebook text-white mr-4"></fa>
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
            <fa name="fab fa-twitter text-white mr-4"> </fa>
          </a>
          <!-- Google +-->
          <a class="gplus-ic">
            <fa name="fab fa-google-plus text-white mr-4"> </fa>
          </a>
          <!--Linkedin -->
          <a class="li-ic">
            <fa name="fab fa-linkedin text-white mr-4"> </fa>
          </a>
          <!--Instagram-->
          <a class="ins-ic">
            <fa name="fab fa-instagram text-white"> </fa>
          </a>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
  </div>

  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">

    <!-- Grid row -->
    <div class="row mt-3">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold">Asep-IT</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p></p>

      </div>
      <!-- Grid column -->


      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Contacto</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <fa name="fab fa-home mr-3"></fa> San Miguel de Tucuman, 4000, Tucuman</p>
        <p>
          <fa name="fab fa-envelope mr-3"></fa> info@example.com</p>
        <p>
          <fa name="fab fa-phone mr-3"></fa> + 0381</p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">Copyright © 2018 ASEP. Todos los Derechos Reservados. ASEP
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->