
@font-face {
    font-family: MyriadProRegular;
    src: url(/assets/fonts/Myriad\ Pro\ Regular.ttf);
}
@font-face {
    font-family: Goca;
    src: url(/assets/fonts/GOCA\ LOGOTYPE\ BETA.ttf);
}
@font-face {
    font-family: GeomanistRegularItalica ;
    src: url(/assets/fonts/Geomanist-Regular&Italic/Webfont/Geomanist-Regular-Italic-Webfont/geomanist-regular-italic-webfont.ttf);
}
@font-face {
    font-family: GeomanistRegular ;
    src: url(/assets/fonts/Geomanist-Regular&Italic/Webfont/Geomanist-Regular-Webfont/geomanist-regular-webfont.ttf);
}
  
  
.navbar {
  background-color: white;
  font-family: MyriadProRegular;
}

.navbar a {
  color: orangered;
}

.slider-1,
.slider-2,
.slider-4,
.slider-5,
.slider-6,
.slider-7
  {
  background:orangered;
  text-align: center;
  font-family: MyriadProRegular;
}


.slider-3 {
  background:whitesmoke;

}

.slider-4 {
  height: 100vh;
}

.slider-5 {
  height: 100vh;
}

.footer {
  background: rgb(4, 13, 85);
  color: #fff;
  text-align: center;
  padding: 10px;
}


#parrafo1,
#parrafo3,
#parrafo4 {
  font-size: 1.5em;
}

/*DEFINIENDO ANIMACIONES*/
.navbar a:hover{
  color: orangered;
  border-bottom:  solid 1px orangered;
}
.card-deck .card:hover{
  background: rgba(3, 37, 231, 0.462);
}

#noticias .jumbotron:hover {
  background: rgba(24, 35, 97, 0.5);
  transition: all 0.5s ease-in;
}

.img-estandares {
  height: 100px;
}
/*PARTE DE LOS ESTANDARES*/
#estandar-img{
  width: 100%;
  max-width: 200px;
  height: 100px;
}
.text-primary {
  color: #F05F40 !important;
}

