<!--  Comienzo del NavBar -->
<nav class="navbar fixed-top navbar-expand-md navbar-light">
  <a class="navbar-brand" [routerLink]="['inicio']" [routerLinkActive]="['active']">
    <img class="img-fluid p-0 m-0" src="../../assets/images/logoasep.png" style="width: 180px; height: 50px;">
    <img class="img-fluid pl-3 pb-1 m-0" src="../../assets/images/UTN.png" style="width: 80px; height: 60px;">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav mr-auto ml-auto text-center">
      <a class="nav-item nav-link que-es" SimpleSmoothScroll [scrollTo]="'que-es'" [duration]="500"> ¿Qué es?</a>
      <a class="nav-item nav-link que-es" SimpleSmoothScroll [scrollTo]="'mision-vision'" [duration]="500"> Misión, Visión y Valores</a>
      <a class="nav-item nav-link" SimpleSmoothScroll [scrollTo]="'servicios'" [duration]="500">Servicios</a>
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">JASEP-IT</a>
        <div class="dropdown-menu text-center" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" SimpleSmoothScroll [scrollTo]="'jasepit'" [duration]="500">Acerca de JASEP IT</a>
          <a class="dropdown-item" (click)="verMas()">JASEP-IT 2018</a>
        </div>
      </div>
      <a class="nav-item nav-link" SimpleSmoothScroll [scrollTo]="'noticias'" [duration]="500">Noticias</a>
    </div>
  </div>
</nav>
<!-- Fin del NavBar -->

<!-- SECCIÓN 1 -->
<div class="container slider-1 mt-5 pt-5 pl-0 pr-0" id="que-es">
  <div id="primera-seccion" class="mt-5 text-white">
    <h1 class="card-title" style="font-size: 6.5vh">
      <img src="../assets/images/asep.png" id="img-slider-1" class="mt-5 img-fluid">
      <br>
      <strong>Auditoría, Seguridad y Peritaje</strong>
      <br>
      <strong>de Tecnologías de la Información</strong>
    </h1>
    <p class="pb-5" id="parrafo1">
      <br> Grupo que surge como una necesidad concreta de la sociedad y la región con respecto a estas tres disciplinas y de
      la inquietud de profesionales, impulsadas por la propuesta de las autoridades de la UTN - FRT de desarrollar actividades
      vinculadas con el cumplimiento de estándares de seguridad.
      <br>Enmarcado en la Dirección de Proyectos Informáticos, dependiente de la Secretaría de Vinculación Tecnológica de la
      Universidad Tecnológica Nacional, Facultad Regional de Tucumán.
    </p>
  </div>
</div>

<!-- FIN SECCIÓN -->

<!-- SECCIÓN 2 -->
<div class="container slider-2 mt-5 pl-0 pr-0" id="mision-vision">
  <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="../assets/images/mision.jpeg" alt="First slide">
        <div class="carousel-caption d-none d-md-block">
          <h2>
            <strong>MISION</strong>
          </h2>
          <p>Trabajar en favor de la prevención y el desarrollo integral de la Seguridad Cibernética, a través de programas
            y proyectos que permitan convertirnos en aliados con Organismos Públicos y Privados.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="../assets/images/vision.jpg" alt="Second slide">
        <div class="carousel-caption d-none d-md-block">
          <h2>VISION</h2>
          <p>Ser reconocidos como un equipo de respuesta ante incidentes de seguridad cibernética (Computer Emergency Response
            Team).
          </p>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="../assets/images/valores.jpg" alt="Third slide">
        <div class="carousel-caption d-none d-md-block">
          <h2>VALORES</h2>
          <p>Innovación permanente en procesos y servicios.
            <br> Trabajamos con Integridad y en equipo.
            <br> Flexibilización y Adaptación al cambio.
            <br> Cumplimos lo que prometemos.
            <br> Agregamos valor superando las expectativas.
          </p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <div class="text-white text-md-right py-2 px-2">
    <a class="btn btn-primary btn-xl js-scroll-trigger" (click)="sobreNosotros()">Más Sobre Nosotros...</a>
    <!--<button type="button" class="btn btn-link text-white" >Más Sobre Nosotros >></button>-->
  </div>
</div>
<!-- FIN SECCIÓN -->
<!-- SECCIÓN 3 -->
<div class="container slider-3 mt-5 pl-0 pr-0" id="servicios">
  <section>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center mt-5">
          <h2 class="mt-5 section-heading">Nuestros Servicios</h2>
          <hr class="my-4">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 text-center">
          <div class="service-box mt-5 mx-auto">
            <i class="fa fa-4x fa-gavel text-primary mb-3 sr-icons"></i>
            <h3 class="mb-3">Auditorias Juridicas</h3>
            <p class="text-muted mb-0"> Está dirigido a determinar el grado de cumplimiento por parte delas entidades del marco jurídico inherente a
              su actividad, y en que medida la referida reglamentación permite que los programas y proyectos del ente se
              cumplan de manera económica y eficiente. </p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="service-box mt-5 mx-auto">
            <i class="fa fa-4x fa-university text-primary mb-3 sr-icons"></i>
            <h3 class="mb-3">Auditoria para Bancos</h3>
            <p class="text-muted mb-0">Está enfocada a las operaciones contables, es decir, a verificar que la contabilización de los hechos económicos
              relacionados con la actividad de la empresa es correcta y que, en consecuencia, representa una imagen fiel
              de la misma.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="service-box mt-5 mx-auto">
            <i class="fa fa-4x fa-bar-chart text-primary mb-3 sr-icons"></i>
            <h3 class="mb-3">Auditoria para Empresas</h3>
            <p class="text-muted mb-0">Está centrada en la revisión de estados contables, Auditoría de compra de paquetes accionarios, de presupuestos
              y estados proyectados y Asesoramiento en la preparación de información financiera para oferta pública en el
              país y en el exterior</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="service-box mt-5 mx-auto">
            <i class="fa fa-4x fa-users text-primary mb-3 sr-icons"></i>
            <h3 class="mb-3">Recursos Humanos</h3>
            <p class="text-muted mb-0">Brindamos asistencia y asesoría en:</p>
            <p class="text-muted mb-0">Project Management & Change Management</p>
            <p class="text-muted mb-0">Búsquedas Ejecutivas y Mandos Medios</p>
            <p class="text-muted mb-0">Inventario de Talentos y Evaluación de Potencial</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-car text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Auditoría de Compañías de Seguros</h3>
              <p class="text-muted mb-0">Las compañías de seguros son empresas financieras con especiales particularidades de negocio, regulatorias
                y contables que ameritan un profundo conocimiento para alcanzar el objetivo de los distintos usuarios.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-keyboard-o text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Peritaje</h3>
              <h3 class="mb-3">Informático</h3>
              <p class="text-muted mb-0">Las tareas que se realizan aquí son: laboración de informe pericial informático y defensa de este ante la autoridad
                judicial, análisis de documentación técnica obrante en autos, análisis de plagio en sistemas de software
                informático, entre otras..</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-handshake-o text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Contraperitaje Informático</h3>
              <p class="text-muted mb-0">Análisis de peritajes informáticos elaborados por las Fuerzas y Cuerpos de Seguridad del Estado y contraperitación
                de los mismos. Realización de peritajes sobre informes periciales informáticos al objeto de determinar su
                adecuación a la práctica técnica y procesal.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-cubes text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Sector Gubernamental</h3>
              <p class="text-muted mb-0">Mediante la auditoria gubernamental se verifica y controla la gestión pública. Se analiza su actividad y economía,
                que éstas trabajen en torno a la eficiencia y la transparencia, actuando siempre acorde a las disposiciones
                legales pertinentes.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>

<!-- FIN SECCIÓN -->
<!-- SECCIÓN 4 -->
<div class="container-fluid slider-4 mt-5 pl-0 pr-0" id="jasepit">
  <div class="text-white text-center pb-5 pt-4 " id="cuarta-seccion">
    <h1 class="card-title mt-5 pt-3 pb-3 mb-5" style="font-size: 6.5vh">
      <strong>JASEPIT - Jornada de Auditoría, Seguridad y Peritaje Informático</strong>
    </h1>
    <p class="mx-5 mb-5" id="parrafo3">Jornada donde se invitan expertos locales, nacionales e internacionales en las temáticas mencionadas para que compartan
      sus experiencias con asistentes de las provincias del Norte Grande y de diferentes claustros (docente, no docente,
      estudiantes y graduados) así como también aquellos que provienen de empresas públicas, privadas y público en general.
    </p>
    <button class="btn btn-primary" (click)="verMas()">Ver Jornada</button>
  </div>
</div>
<!-- FIN SECCIÓN -->
<!--ul.galeria>li*4>a>img-->
<!-- SECCIÓN 5 -->
<div class="container slider-5 mt-5" id="noticias">
  <h1 class="card-title mt-5 mb-5" style="font-size: 3.5em">
    <strong>Noticias</strong>
  </h1>
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <a class="twitter-timeline" data-width="500" data-height="491" data-theme="light" data-link-color="#E95F28" href="https://twitter.com/Asepit?ref_src=twsrc%5Etfw">Tweets by Asepit</a>
    </div>
    <div class="col-sm-12 col-md-6">
      <a class="twitter-timeline" data-width="500" data-height="500" data-link-color="#E95F28" href="https://twitter.com/SeguInfo?ref_src=twsrc%5Etfw">Tweets by SeguInfo</a>
    </div>
  </div>
  <!-- <div class="row pb-5">
    <div class="col-3">
      <div *ngFor="let noticia of noticias" class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active" id="v-pills{{i + 1}}" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home"
          aria-selected="true">{{noticia.titulo}}{{i + 1 }}</a>
      </div>
    </div>
    <div class="col-9">
      </div>
    </div> -->
  <!-- <div *ngFor="let noticia of noticias" class="tab-content" id="v-pills-tabContent">
          <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
              <h4 id="panel1" class="font-weight-bold">{{noticia.titulo}}</h4>
              <div class="view overlay my-4">
                  <img src="{{noticia.imagen}}" class="img-fluid" alt="">
              </div>
              <p class="lead">{{noticia.cuerpo}}</p>
          </div> -->

</div>
<!-- FIN SECCIÓN -->

<!-- SECCIÓN 6 -->
<div class="container-fluid slider-6 mt-5 p-0" id="estandares">
  <h1 class="card-title pt-5 mb-5 text-white" style="font-size: 3.5em">
    <strong>Estándares de Auditoría de Sistemas de Información</strong>
  </h1>
  <!-- Card deck -->
  <div class="card-deck pl-4 pr-4 border-0">

    <!-- Card -->
    <div class="card mb-4 border-0 rounded">
      <!--Card image-->
      <div class="view overlay ">
        <img class="card-img-top img-fluid img-thumbnail  border-0" src="../../assets/images/ISO_27001_Surus-Inversa.jpg" alt="Card image cap">
      </div>
      <!--Card content-->
      <div class="card-body">

        <!--Title-->
        <h4 class="card-title">ISO 27001</h4>
        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
      </div>
      <div class="modal-footer border-0">
        <button data-toggle="modal" data-target="#iso" type="button" class="btn btn-primary btn-md">Leer</button>
      </div>
    </div>
    <!-- Card -->
    <!-- Card -->
    <div class="card mb-4 border-0 rounded">
      <!--Card image-->
      <div class="view overlay">
        <img class="card-img-top img-fluid img-thumbnail  border-0" src="../../assets/images/isaca.png" alt="Card image cap">
      </div>
      <!--Card content-->
      <div class="card-body">

        <!--Title-->
        <h4 class="card-title">ISACA</h4>
        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->

      </div>
      <div class="modal-footer border-0 text-center">
        <button data-toggle="modal" data-target="#isaca" type="button" class="btn btn-primary btn-md">Leer</button>
      </div>
    </div>
    <!-- Card -->
    <!-- Card -->
    <div class="card mb-4 border-0 rounded">
      <!--Card image-->
      <div class="view overlay">
        <img data-toggle="modal" data-target="#isaca" class="card-img-top " src="../../assets/images/sigen.jpg" alt="Card image cap">
      </div>
      <!--Card content-->
      <div class="card-body">

        <!--Title-->
        <h4 class="card-title">SIGEN</h4>
        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->

      </div>
      <div class="modal-footer border-0 text-center">
        <button data-toggle="modal" data-target="#sigen" type="button" class="btn btn-primary btn-md">Leer</button>
      </div>
    </div>
    <!-- Card -->
    <!-- Card -->
    <div class="card mb-4 border-0 rounded">
      <!--Card image-->
      <div class="view overlay">
        <img data-toggle="modal" data-target="#isaca" class="card-img-top" src="../../assets/images/page_img21.jpg" alt="Card image cap">
      </div>
      <!--Card content-->
      <div class="card-body">

        <!--Title-->
        <h4 class="card-title">COBIT</h4>
        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
      </div>
      <div class="modal-footer border-0 text-center">
        <button data-toggle="modal" data-target="#cobit" type="button" class="btn btn-primary btn-md">Leer</button>
      </div>
    </div>
    <!-- Card -->
    <!-- Card -->
    <div class="card mb-4 border-0 rounded">
      <!--Card image-->
      <div class="view overlay">
        <img data-toggle="modal" data-target="#isaca" class="card-img-top" src="../../assets/images/CISA-Vertical.jpg" alt="Card image cap">
      </div>
      <!--Card content-->
      <div class="card-body">

        <!--Title-->
        <h4 class="card-title">CISA</h4>
        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
      </div>
      <div class="modal-footer border-0 text-center">
        <button data-toggle="modal" data-target="#cisa" type="button" class="btn btn-primary btn-md">Leer</button>
      </div>
    </div>
    <!-- Card -->
  </div>
  <!-- Card deck -->

  <!-- Modal -->
  <div class="modal fade" id="iso" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-center" id="exampleModalCenterTitle">ISO 27001</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ISO es una organización internacional no gubernamental e independiente con una membresía de 161 organismos nacionales de
          normalización. A través de sus miembros, reúne a expertos para compartir conocimientos y desarrollar normas/estándares
          internacionales voluntarias, basadas en el consenso y relevantes para el mercado que respalden la innovación y
          brinden soluciones a los desafíos mundiales.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="isaca" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-center" id="exampleModalCenterTitle">ISACA</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Information Systems Audit and Control Association (Asociación de Auditoría y Control de Sistemas de Información). Es una
          asociación internación independiente sin fines de lucro. Participa en el desarrollo, la adopción y el uso de conocimientos
          y prácticas líderes en la industria aceptados a nivel mundial para los sistemas de información ISACA® (isaca.org)
          ayuda a los profesionales globales a liderar, adaptar y asegurar la confianza en un mundo digital en evolución
          ofreciendo conocimiento, estándares, relaciones, acreditación y desarrollo de carrera innovadores y de primera
          clase. Establecida en 1969, ISACA es una asociación global sin ánimo de lucro de 140.000 profesionales en 180 países.
          ofrece Cybersecurity Nexus™ (CSX), un recurso integral y global en ciberseguridad, y COBIT®

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- FIN SECCIÓN -->
<!-- SECCIÓN 7 -->
<div class="container slider-7 mt-5" id="estandares">
  <h1 class="card-title pt-3 mb-5 " style="font-size: 3.5em">
    <strong>Big Four en Auditoría de Sistemas de Información </strong>
  </h1>
  <div class="d-flex justify-content-lg-center">
    <div class="p-1 ml-5 mb-5">
      <a href="https://www2.deloitte.com/ar/es/services/audit.html?icid=top_audit">
        <img src="../../assets/images/deloitte-logo.jpg" class="img-fluid img-estandares" alt="Responsive image">
      </a>
    </div>
    <div class="p-1 ml-5 mb-5">
      <a href="https://www.pwc.com.ar/es/servicios/auditoria.html">
        <img src="../../assets/images/PricewaterhouseCoopers_Logo.svg.png" class="img-fluid img-estandares" alt="Responsive image">
      </a>
    </div>
    <div class="p-1 ml-5 mb-5">
      <a href="https://home.kpmg.com/ar/es/home/services/audit.html">
        <img src="../../assets/images/KPMG.png" class="img-fluid img-estandares" alt="Responsive image">
      </a>
    </div>
    <div class="p-1 ml-5 mb-5">
      <a href="https://www.ey.com/ar/es/services/assurance">
        <img src="../../assets/images/careers_EY.png" class="img-fluid img-estandares" alt="Responsive image">
      </a>
    </div>
  </div>
</div>
<!-- FIN SECCIÓN -->


<!-- <div> ANIMACION PIOLA
      <fa name="fas fa-camera-retro" animation="spin"></fa></div>
     -->
<!-- Footer -->
<footer class="page-footer font-small unique-color-dark mt-5 text-white" style="background: rgba(0, 0, 0, 0.898)">

  <div style="background-color: rgba(255, 255, 255, 0.3);">
    <div class="container">

      <!-- Grid row-->
      <div class="row py-4 d-flex align-items-center">

        <!-- Grid column -->
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h6 class="mb-0 text-white">Siguenos en nuestras redes sociales!</h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-6 col-lg-7 text-center text-md-right">

          <!-- Facebook -->
          <a class="fa-ic">
            <fa name="fab fa-facebook text-white mr-4"></fa>
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
            <fa name="fab fa-twitter text-white mr-4"> </fa>
          </a>
          <!-- Google +-->
          <a class="gplus-ic">
            <fa name="fab fa-google-plus text-white mr-4"> </fa>
          </a>
          <!--Linkedin -->
          <a class="li-ic">
            <fa name="fab fa-linkedin text-white mr-4"> </fa>
          </a>
          <!--Instagram-->
          <a class="ins-ic">
            <fa name="fab fa-instagram text-white"> </fa>
          </a>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
  </div>

  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">

    <!-- Grid row -->
    <div class="row mt-3">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold">Asep-IT</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p></p>

      </div>
      <!-- Grid column -->


      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Contacto</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <fa name="fab fa-home mr-3"></fa> San Miguel de Tucuman, 4000, Tucuman</p>
        <p>
          <fa name="fab fa-envelope mr-3"></fa> info@example.com</p>
        <p>
          <fa name="fab fa-phone mr-3"></fa> + 0381</p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">Copyright © 2018 ASEP. Todos los Derechos Reservados. ASEP
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->