  <!-- Comienzo de Seccion-->
  <div class="container-fluid p-0 m-0">
      <div class="row text-center">
        <div class="col">
            <div class="card">
              <img class="card-img-top" src="..." alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Mision, Vision y Valores</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
        </div>
        <div class="col">
          <div class="card">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Servicios</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
      
      <div class="row text-center">
        <div class="col">
            <div class="card">
              <img class="card-img-top" src="..." alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">JASEP-IT</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
        </div>
        <div class="col">
          <div class="card">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Contacto</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="row text-center">
        <div class="col">
          <h1>Proximos Eventos</h1>
          <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut deserunt, ullam et nam doloribus neque quas soluta porro repudiandae nemo ad laudantium corporis quis harum ut distinctio dolores in itaque!</p>
        </div>
        <div class="col">
          <h1>Noticias</h1>
          <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore, ab enim adipisci tenetur temporibus rem non nesciunt cum excepturi aut quidem, magni praesentium. Tenetur necessitatibus, quibusdam accusantium odit laboriosam sed.</p>
        </div>
        <div class="col">
          <h1>Subir Proyecto</h1>
          <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, eveniet. Omnis odit non officiis nemo necessitatibus minus reiciendis dolorem quibusdam aut beatae, veritatis autem dignissimos nisi, incidunt, eius illo consectetur.</p>
        </div>
      </div> -->
    </div>
    <!-- Fin de Seccion-->