
@font-face {
    font-family: MyriadProRegular;
    src: url(/assets/fonts/Myriad\ Pro\ Regular.ttf);
}
@font-face {
    font-family: Goca;
    src: url(/assets/fonts/GOCA\ LOGOTYPE\ BETA.ttf);
}
@font-face {
    font-family: GeomanistRegularItalica ;
    src: url(/assets/fonts/Geomanist-Regular&Italic/Webfont/Geomanist-Regular-Italic-Webfont/geomanist-regular-italic-webfont.ttf);
}
@font-face {
    font-family: GeomanistRegular ;
    src: url(/assets/fonts/Geomanist-Regular&Italic/Webfont/Geomanist-Regular-Webfont/geomanist-regular-webfont.ttf);
}
  
  
.navbar {
  background-color: white;
  font-family: MyriadProRegular;
}

.navbar a {
  color: orangered;
  cursor: pointer;
}

.slider-1,
.slider-2,
.slider-3,
.slider-4,
.slider-5,
.slider-6,
.slider-7
  {
  text-align: center;
  font-family: MyriadProRegular;
}
.slider-1 {
  background:white;
}
.slider-2 {
  background:whitesmoke;
}
.slider-3 {
  background:whitesmoke;
}
.slider-4 {
  background:whitesmoke;
}
.slider-5 {
  background:whitesmoke;
}
.slider-6 {
  background: midnightblue;
}
.slider-7 {
  background:whitesmoke;
}

.footer {
  background: rgb(4, 13, 85);
  color: #fff;
  text-align: center;
  padding: 10px;
}


#parrafo1,
#parrafo3,
#parrafo4 {
  font-size: 1.5em;
}

/*DEFINIENDO ANIMACIONES*/
.navbar a:hover{
  color: orangered;
  border-bottom:  solid 1px orangered;
}
.card-deck .card img:hover{
  background: rgba(3, 37, 231, 0.462);
}

.img-estandares {
  height: 100px;
}
/*PARTE DE LOS ESTANDARES*/
.text-primary {
  color: #F05F40 !important;
}

/* sector que es*/
#primera-seccion{
  background: url("../../assets/images/header.jpg") no-repeat center center;
          background-size: cover;
          -moz-background-size: cover;
          -webkit-background-size: cover;
          -o-background-size: cover;
          width: 100%;
}
#cuarta-seccion{
  background: url("../../assets/images/header.jpg") no-repeat center center;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  width: 100%;
}
.btn {
  font-weight: 700;
  border: none;
  border-radius: 300px;
  font-family: GeomanistRegularItalica;
  font-style: oblique;
}

.btn-xl {
  padding: 1rem 2rem;
}

.btn-primary {
  background-color: #F05F40;
  border-color: #F05F40;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: #fff;
  background-color: #ee4b28 !important;
}

.btn-primary:active, .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(240, 95, 64, 0.5) !important;
}